/* Layout.css */
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Garante que o layout ocupe toda a altura da tela */
}

.content {
  flex: 1; /* Expande para ocupar o espaço restante */
}
