/* ToTop.css */
.scroll-to-top button {
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: fixed;
    align-items: center;
    bottom: 90px;
    right: 20px;
    background-color: #c50404;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 2rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    z-index: 1000; /* Garante que o botão fique sempre na frente */
  }
  
  .scroll-to-top button:hover {
    background-color: rgba(54, 24, 24, 0.5);
    color: #c50404;
    transform: scale(1.1);
  }
  
  @media (max-width: 768px) {
    .scroll-to-top button {
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    font-size: 1.2rem;
    z-index: 1000; /* Garante que o botão fique sempre na frente */
    }
  }