.orcamento-section {
  margin-bottom: 1rem;
  text-align: center;
}

.orcamento-section h2,
.map-section h2 {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 1rem;
}

.orcamento-section p {
  font-size: 1.1rem;
  color: #fff;
}

.contact-list {
  list-style: none;
  padding: 0;
  margin-top: 2rem;
}

.contact-list li {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0.8rem;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.contact-list li:hover {
  background-color: #9e0303;
}

.contact-list i {
  font-size: 1.5rem;
  margin-right: 1rem;
  color: #fff;
}

.contact-list span,
.contact-list a {
  font-size: 1.1rem;
  color: #fff;
  text-decoration: none;
}

.contact-list a:hover {
  color: #c50404;
  text-decoration: underline;
}

/* Form */
.orcamento-form {
  width: 100%;
  max-width: 700px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 8px;
  background-color: #353535;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-group label {
  font-size: 1.1rem;
  color: #fff;
  padding: 0.5rem;
}

.form-group input,
.form-group textarea,
.form-group select {
  padding: 0.8rem;
  border: 1px solid #fff;
  border-radius: 8px;
  font-size: 1.5rem;
  transition: border-color 0.3s ease;
  color: #c50404;
  background: #1a1a1a;
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
  border-color: #c50404;
  outline: none;
}

.form-group input:-webkit-autofill,
.form-group textarea:-webkit-autofill,
.form-group select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #1a1a1a inset !important;
  -webkit-text-fill-color: #c50404 !important;
  border: 1px solid #fff;
  color: #c50404;
  transition: background-color 5000s ease-in-out 0s;
}

.form-group input:-webkit-autofill:focus,
.form-group textarea:-webkit-autofill:focus,
.form-group select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 30px #1a1a1a inset !important;
}


.submit-button {
  padding: 0.8rem;
  border: none;
  border-radius: 8px;
  background-color: #c50404;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #9e0303;
}

/* Feedback */
.feedback {
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  margin-top: 1rem;
}

.feedback-success {
  background-color: #4caf50;
  color: #fff;
}

.feedback-error {
  background-color: #f44336;
  color: #fff;
}

/* Google Maps */
.map-section {
  margin-bottom: 2rem;
  text-align: center;
}

.google-map {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.google-map iframe {
  width: 100%;
  height: 450px;
  border: 0;
}

/* Responsive */
@media (max-width: 768px) {
  .orcamento-form {
    margin: 0;
    gap: 1rem;
  }

.form-group input,
.form-group textarea,
.form-group select {
  padding: 0.8rem;
  border: 1px solid #fff;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
  color: #c50404;
  background: #1a1a1a;
}

}


