/* Estilos da Página Home */
.adress {
  font-size: 1.2rem;
  color: var(--branco); /* Texto branco */
  line-height: 1.8;
  margin-bottom: 1.5rem;
  text-align: center;
  font-style: normal;
  margin-top: 1.25rem; /* Usando rem */
}

