/* === Navbar Base === */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.1rem 0.1rem;
  background-color: rgba(0, 0, 0, 0.904);
  color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.048);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: all 0.3s ease;
}

.navbar:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.navbar.scrolled-down {
  justify-content: flex-start;
  padding: 0.5rem 2rem;
}

/* === Logo === */
.navbar-logo {
  display: flex;
  align-items: center;
  transition: margin-right 0.3s ease;
}

.navbar.scrolled-down .navbar-logo {
  margin-right: 1rem;
}

.navbar-logo img {
  width: 7rem;
  height: auto;
  display: block;
  transition: transform 0.3s ease, width 0.3s ease, opacity 0.3s ease;
  opacity: 1;
  filter: brightness(1);
  margin-right: 1rem;
}

.navbar.scrolled-down .navbar-logo img {
  width: 5rem;
}

.navbar-logo img:hover {
  transform: scale(1.1);
}

/* === Links da Navbar === */
.navbar-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: opacity 0.3s ease, margin-left 0.3s ease;
}

.navbar-links li {
  margin: 0 1rem;
}

.navbar-links a {
  color: var(--cinza-claro);
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: var(--vermelho-principal);
}

/* === Menu Responsivo === */
.menu {
  display: flex;
  align-items: center;
}

.menu.open {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 1rem 0;
  box-shadow: 0 4px 6px rgba(253, 0, 0, 0.1);
}

.menu.open .navbar-links {
  display: flex !important;
  flex-direction: column;
  align-items: flex-start;
  opacity: 1;
  margin-left: 0;
}

.menu.open .navbar-links li {
  margin: 0.5rem 1rem;
  text-align: left;
}

/* === Botão Hambúrguer === */
.hamburger {
  display: none;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    background: none;
    border: none;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
    position: absolute;
    right: 1rem;
  }

  .hamburger:hover {
    opacity: 0.8;
  }

  .navbar-links {
    display: none;
  }

  .menu.open .navbar-links {
    display: flex !important;
  }
}
