/* Estilos Globais */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #2c2c2c6b;
  }

  /* Estilo global para o header */
.header {
  width: 100%;
  height: 200px; /* Define uma altura padrão */
  background-color: #333; /* Cor de fundo padrão */
  color: #fff; /* Cor do texto */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para destaque */
}

.header h1 {
  font-size: 2rem; /* Tamanho padrão do título */
  margin: 0;
}

.header p {
  font-size: 1rem; /* Tamanho padrão do subtítulo */
  margin: 0.5rem 0 0;
}
  
  /* Estilos da Página Inicial */
    /* Estilos do Container */
    .container {
      font-family: Arial, sans-serif;
      color: #333;
      line-height: 1.6;
      max-width: 800px;
      margin: 0 auto;
      padding: 2rem;
      background-color: #D3D3D3;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  
  .hero {
    text-align: center;
    padding: 3rem 1rem;
    background: url('../assets/images/hero-bg.jpg') no-repeat center center/cover;
    color: #fff;
  }
  
  .hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  
  .cta-button {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    color: #fff;
    background-color: #d90000c4;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #d90000;
  }
  
  .highlights, .testimonials, .contact {
    padding: 2rem;
    background-color: #2c2c2c6b;
    color: #fff;
    text-align: center;
  }
  
  .highlights-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
  }
  
  .highlight-item {
    flex: 1;
    min-width: 250px;
    background: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .contact-info {
    margin-top: 1rem;
  }
  
  .contact-info p {
    margin: 0.5rem 0;
  }

  /* Estilos do Orçamento */
  .orcamento {
    padding: 2rem;
  }
  .orcamento {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #D3D3D3;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .orcamento h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
  }
  
  .orcamento p {
    font-size: 1rem;
    margin-bottom: 2rem;
    color: #555;
  }
  
  .form-group {
    margin-bottom: 1.5rem;
  }
  
  .form-group label {
    display: block;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #333;
  }
  
  .form-group input,
  .form-group select,
  .form-group textarea {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .form-group textarea {
    resize: vertical;
    height: 100px;
  }
  
  button {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    color: #fff;
    background-color: #D90000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #D90000;
  }

  /* Estilos do Sobre */
  .sobre {
    padding: 2rem;
  }
  
  .sobre-header {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .sobre-header h1 {
    font-size: 2.5rem;
    color: #333;
  }
  
  .sobre-header p {
    font-size: 1.2rem;
    color: #666;
  }

  /* Estilos do Serviços */
  .services {
    padding: 2rem;
  }
  
  .services-list {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }
  
  .service-item {
    flex: 1 1 calc(33.333% - 2rem);
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .service-item h2 {
    font-size: 1.5rem;
    color: #333;
  }
  
  .service-item p {
    font-size: 1rem;
    color: #666;
  }

  /* Estilos do Contato */  
  .contato h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
  }
  
  .contato p {
    font-size: 1rem;
    margin-bottom: 2rem;
    color: #555;
  }
  
  .form-group {
    margin-bottom: 1.5rem;
  }
  
  .form-group label {
    display: block;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #333;
  }
  
  .form-group input,
  .form-group select,
  .form-group textarea {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .form-group textarea {
    resize: vertical;
    height: 100px;
  }
  
  button {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Estilos do Blog */
  .blog{
    padding: 2rem;
  }
  .blog-links {
    list-style: none;
    padding: 0;
    margin: 2rem 0;
  }
  
  .blog-links li {
    margin-bottom: 1rem;
  }
  
  .blog-links a {
    text-decoration: none;
    color: #007bff; /* Azul para os links */
    font-size: 1.1rem;
    transition: color 0.3s ease;
  }
  
  .blog-links a:hover {
    color: #0056b3; /* Azul mais escuro ao passar o mouse */
    text-decoration: underline;
  }

  /* Estilos do to-top */
  .arrow-up {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 40px;
    right: 40px;
    background-color: #D90000;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 1.3rem;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 1000;
  }

  .arrow-up:hover {
    background-color: #d900007c;
    transform: translateY(-5px);
  }

  .contact-list {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
  }
  
  .contact-list li {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #ffffff;
  }
  
  .contact-list li i {
    font-size: 1.5rem;
    color: #007bff;
    margin-right: 0.5rem;
  }
  
  .contact-list li a {
    color: #007bff;
    text-decoration: none;
  }
  
  .contact-list li a:hover {
    text-decoration: underline;
  }

  /* Estilos do Formulário */
  .form-group input[type="file"] {
    display: block;
    margin-top: 0.5rem;
    font-size: 1rem;
  }

  /* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo preto com transparência */
  color: #2C2C2C;
  box-shadow: 0 4px 6px rgba(241, 6, 6, 0.1);
  position: sticky; /* Fixa o navbar no topo ao rolar a página */
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s ease; /* Transição suave para mudanças de cor */
}

.navbar:hover {
  background-color: rgba(0, 0, 0, 0.8); /* Fundo mais opaco ao passar o mouse */
}

.navbar-logo img {
  max-width: 150px;
}

.navbar-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin: 0 1rem;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
}

/* Botão "Hambúrguer" */
.hamburger button {
  display: none;
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Menu Responsivo */
.menu {
  display: flex;
}

.menu.open {
  display: flex;
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 1rem 0;
  }

  .menu.open .navbar-links {
    display: flex;
  }

  .hamburger button {
    display: block;
  }
}