/* Blog.css */
.blog-page {
  background-color: #2e2f31;
  padding: 0rem 0;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #353535;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.blog-highlights {
  margin-bottom: 2rem;
  text-align: center;
}

.blog-highlights h2 {
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 1rem;
}

.blog-links {
  list-style: none;
  padding: 0;
}

.blog-links li {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  color: #ffffff;
}

.blog-links a {
  font-size: 1.1rem;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.blog-links a:hover {
  color: #c50404;
  text-decoration: underline;
}

.blog-section {
  margin-bottom: 2rem;
}

.blog-section h2 {
  font-size: 2rem;
  color: #ea1a1a;
  margin-bottom: 1.5rem;
  text-align: center;
}

.blog-section h3 {
  font-size: 1.25rem;
  color: #ffffff;
  margin-bottom: 0.8rem;
}

.blog-section p {
  font-size: 1.1rem;
  color: #ffffff;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.blog-section ul {
  list-style: disc;
  padding-left: 2rem;
  margin-bottom: 1rem;
}

.blog-section li {
  font-size: 1.1rem;
  color: #ffffff;
  line-height: 1.6;
}

/* Responsividade */
@media (max-width: 768px) {
  .container {
    padding: 1rem;
  }

  .blog-highlights h2 {
    font-size: 1.75rem;
  }

  .blog-section h2 {
    font-size: 1.5rem;
  }

  .blog-section h3 {
    font-size: 1.1rem;
  }

  .blog-section p,
  .blog-section li {
    font-size: 1rem;
  }
}