.blog{
  padding: 2rem;
}
.blog-links {
  list-style: none;
  padding: 0;
  margin: 2rem 0;
}

.blog-links li {
  margin-bottom: 1rem;
}

.blog-links a {
  text-decoration: none;
  color: #007bff; /* Azul para os links */
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.blog-links a:hover {
  color: #0056b3; /* Azul mais escuro ao passar o mouse */
  text-decoration: underline;
}