.home {
    background-color: #2e2f31;
    padding: 0rem 0;
    color: #fff;
    bottom: 0;
    left: 0;
    opacity: 1.5;
    right: 0;
    top: 0;
  }

  .home h2 {
    font-size: 2rem;
    color: #ea1a1a;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .home h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
  }
  
  .home p {
    font-size: 1.1rem;
    color: #ffffff;
    line-height: 1.6;
    margin-bottom: 1rem;
  }
