/* Mp.css */
/* Fonte padrão para todo o corpo */
body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0; /* Fundo claro */
  color: #333; /* Texto escuro para contraste */
  line-height: 1.6;
}
.page-container {
  background-color: #f0f0f0;
  padding: 0rem 0;
}

.content-section {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 3rem;
  margin-top: 2rem;
}

.section-title {
  color: var(--azul-esverdeado);
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.section-subtitle {
  color: #34495e;
  font-size: 1.8rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border: none; /* Remove a borda inferior */
}

.section-paragraph {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  color: #333;
}

.section-list {
  list-style-type: disc;
  padding-left: 2rem;
  margin-bottom: 2rem;
}

.section-list li {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

/* Responsividade */
@media (max-width: 768px) {
  .content-section {
      padding: 2rem;
  }

  .section-title {
      font-size: 2rem;
  }

  .section-subtitle {
      font-size: 1.5rem;
  }
}
