/* Mp.css */

.page-container {
  background-color: #f0f0f0;
  color: #333;
  font-family: 'Nunito', sans-serif;
  line-height: 1.6;
  max-width: 1200px;
  margin: 0 auto;
}

.content-section {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 3rem;
  margin-top: 2rem;
}

.section-title {
  color: #2c3e50;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
 
}

.section-subtitle {
  color: #34495e;
  font-size: 1.8rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border: none; /* Remove a borda inferior */
}

.section-paragraph {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

.section-list {
  list-style-type: disc;
  padding-left: 2rem;
  margin-bottom: 2rem;
}

.section-list li {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.cta-button {
  background-color: #3498db;
  border: none; /* Remove a borda do botão */
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  padding: 1rem 2rem;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.cta-button:hover {
  background-color: #2980b9;
  transform: scale(1.05);
}

/* Responsividade */
@media (max-width: 768px) {
  .content-section {
      padding: 2rem;
  }

  .section-title {
      font-size: 2rem;
  }

  .section-subtitle {
      font-size: 1.5rem;
  }
}