    /* Estilos gerais para o corpo da página */
    body {
        font-family: 'Montserrat', sans-serif;
        line-height: 1.6;
        color: #333;
        background-color: #f9f9f9;
        margin: 0;
        padding: 20px;
    }

    /* Container principal para centralizar o conteúdo */
    .privacy-policy-container {
        max-width: 960px;
        margin: 15rem auto;
        background-color: #fff;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    /* Título Principal */
.privacy-policy-title {
    font-size: 2.5rem;
    color: #2c3e50;
    margin-bottom: 20px;
    text-align: center;
}

/* Subtítulos */
.privacy-policy-subtitle {
    font-size: 1.5em;
    color: #34495e;
    margin-top: 25px;
    margin-bottom: 10px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

/* Parágrafos */
.privacy-policy-paragraph {
    margin-bottom: 15px;
}

  
.privacy-policy-link {
    color: #c0392b;
    text-decoration: none;
  }
  
  .privacy-policy-link:hover {
    text-decoration: underline;
  }
  
  .privacy-policy-list {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 15px;
  }
  
  .privacy-policy-list li {
    margin-bottom: 5px;
  }
  
  .prohibited-list {
    color: #c0392b;
  }
  
  .prohibited-paragraph {
    color: #c0392b;
    font-weight: bold;
  }
  
  .privacy-policy-address {
    margin-top: 20px;
    font-style: normal;
  }
  
  .acknowledgment {
    margin-top: 30px;
    font-style: italic;
    color: #777;
  }
  
  .privacy-policy-last-updated {
    margin-top: 10px;
    color: #999;
    font-size: 0.9em;
    text-align: right;
  }

    /* Data da última atualização */
    .last-updated {
        margin-top: 30px;
        font-size: 0.9em;
        color: #777;
        text-align: center;
    }

    /* Mensagem de concordância */
    .agreement {
        margin-top: 20px;
        font-style: italic;
        color: #666;
        text-align: center;
    }

    /* Estilos específicos para o nome da empresa */
    .privacy-policy-company-name {
        font-weight: bold;
        color: #e67e22; /* Cor de destaque para o nome */
    }

    /* Adicionando um pouco de espaçamento extra em algumas seções para melhor leitura */
    .privacy-policy-container > div {
        margin-bottom: 20px;
    }

    /* Ajuste fino para a lista de direitos */
    .privacy-policy-container h2:nth-child(5) + ul { /* Seleciona a lista após "Seus Direitos de Privacidade" */
        margin-left: 0;
        padding-left: 20px;
    }

    .privacy-policy-container h2:nth-child(5) + ul li {
        list-style-type: disc;
    }