/* Estilos do Serviços */
.services {
  background-color: var(--cinza-escuro);
  padding: 0;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
}

.service-item {
  background-color: var(--cinza-medio);
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(54, 24, 24, 0.5);
}

.service-item h3 {
  font-size: 1.5rem;
  color: var(--vermelho-principal);
  margin-bottom: 0.5rem;
}

.service-item p {
  font-size: 1rem;
  color: var(--cinza-claro);
}

.service-button {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  color: var(--branco);
  background-color: var(--vermelho-principal);
  border: none;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.service-button:hover {
  background-color: rgba(54, 24, 24, 0.5);
  transform: scale(1.05);
}