/* Troca Peça.css */
.page-container {
  font-family: sans-serif;
  line-height: 1.6;
  color: #ffffff;
  background-color: #f4f4f4;
  margin: 0;
  }
  
  .container-section {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 3rem;
    margin-top: 2rem;
  }
  
  .section-title {
    color: #2c3e50; /* Use a cor do .section-title */
    font-size: 2.5rem; /* Use o font-size do .section-title */
    margin-bottom: 1.5rem; /* Use a margin-bottom do .section-title */
    text-align: center; /* Mantenha o alinhamento central */
  }
  
  .section-subtitle {
    color: #34495e; /* Use a cor do .section-subtitle */
    font-size: 1.8rem; /* Use o font-size do .section-subtitle */
    margin-top: 2rem; /* Use a margin-top do .section-subtitle */
    margin-bottom: 1rem; /* Use a margin-bottom do .section-subtitle */
    padding-bottom: 0.5rem; /* Use o padding-bottom do .section-subtitle */
    border: none; /* Mantenha a remoção da borda */
  }
  
  .section-paragraph {
    font-size: 1.1rem; /* Use o font-size do .section-paragraph */
    margin-bottom: 1.5rem; /* Use a margin-bottom do .section-paragraph */
  }
  
  .section-list {
    list-style-type: disc; /* Use o list-style-type do .section-list */
    padding-left: 2rem; /* Use o padding-left do .section-list */
    margin-bottom: 2rem; /* Use a margin-bottom do .section-list */
  }
  
  .section-list li {
    font-size: 1.1rem; /* Use o font-size do item da lista */
    margin-bottom: 0.5rem; /* Use a margin-bottom do item da lista */
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    .content-section {
        padding: 2rem;
    }
  
    .section-title {
        font-size: 2rem;
    }
  
    .section-subtitle {
        font-size: 1.5rem;
    }
  }