/* Reset global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* DynamicHeader */
.header {
  width: 100%;
  height: 70vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #1d1d1d;
  overflow: hidden;

  font-family: 'Ubuntu', sans-serif; /* redundante, mas pode manter */
}

/* Imagem Padrão */
.header::before {
  background:
    linear-gradient(rgba(0, 0, 0, 0.89), rgba(0, 0, 0, 0.753)),
    url('../assets/images/header.jpg') center/cover no-repeat;
    filter: blur(0.5px);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 70vh;
    z-index: 1;
}

/* home */
.header.home::before {
  background:
    linear-gradient(rgba(0, 0, 0, 0.89), rgba(0, 0, 0, 0.753)),
    url('../assets/images/home.jpg') center/cover no-repeat;
    filter: blur(0.5px);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 70vh;
    z-index: 1;
}

/* Sobre */
.header.sobre::before {
  background:
    linear-gradient(rgba(0, 0, 0, 0.89), rgba(0, 0, 0, 0.753)),
    url('../assets/images/sobre.jpg') center/cover no-repeat;
    filter: blur(0.5px);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 70vh;
    z-index: 1;
}

/* Serviços */
.header.servicos::before {
  background:
    linear-gradient(rgba(0, 0, 0, 0.89), rgba(0, 0, 0, 0.753)),
    url('../assets/images/servicos.jpg') center/cover no-repeat;
    filter: blur(0.5px);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 70vh;
    z-index: 1;
}

/* Orçamento */
.header.orcamento::before {
  background:
    linear-gradient(rgba(0, 0, 0, 0.89), rgba(0, 0, 0, 0.753)),
    url('../assets/images/orcamento.jpg') center/cover no-repeat;
    filter: blur(0.5px);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 70vh;
    z-index: 1;
}

/* Contato */
.header.contato::before {
  background:
    linear-gradient(rgba(0, 0, 0, 0.89), rgba(0, 0, 0, 0.753)),
    url('../assets/images/contato.jpg') center/cover no-repeat;
    filter: blur(0.5px);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 70vh;
    z-index: 1;
}

/* Blog */
.header.blog::before {
  background:
    linear-gradient(rgba(0, 0, 0, 0.89), rgba(0, 0, 0, 0.753)),
    url('../assets/images/blog-header.jpg') center/cover no-repeat;
    filter: blur(0.5px);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 70vh;
    z-index: 1;
}

/* Páginas do footer */
.header.footer::before {
  background:
    linear-gradient(rgba(0, 0, 0, 0.89), rgba(0, 0, 0, 0.753)),
    url('../assets/images/footer.jpg') center/cover no-repeat;
    filter: blur(0.5px);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 70vh;
    z-index: 1;
}


.header > * {
  z-index: 2;
}

.header h1 {
  font-size: 5rem;
  margin: 0;
  color: #f50203;
  animation: fadeIn 1s ease-in-out;
  font-family: 'Nunito', sans-serif;
}

.header p {
  font-size: 2.5rem;
  margin: 0.5rem 0 0;
  color: #f0f0f0;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Transição de fade opcional */
.fade {
  transition: opacity 0.5s ease-in-out;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

/* Responsividade */
@media (max-width: 768px) {
  .header h1 {
    font-size: 2.5rem;
  }

  .header p {
    font-size: 1.5rem;
  }
}
