/* DynamicHeader.css */
.header {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #1d1d1d;
  opacity: 0.8;
  overflow: hidden;
  background: url('../assets/images/header.jpg') center/cover no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  background-color: rgb(46, 47, 49);
  color: rgba(0, 0, 0, 1.9);
  opacity: 0.5
  z-index 1000;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.header > * {
  z-index: 2;
}

.header h1 {
  font-size: 5rem; /* Tamanho padrão do título */
  margin: 0;
  color: #f50203;
  animation: fadeIn 1s ease-in-out;
}

.header p {
  font-size: 1.2rem; /* Tamanho padrão do subtítulo */
  margin: 0.5rem 0 0;
  color: #f0f0f0;
  animation: fadeIn 1s ease-in-out;
}

.header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Media Query para telas menores */
@media (max-width: 768px) {
  .header h1 {
    font-size: 2rem; /* Tamanho do título em telas menores */
  }

  .header p {
    font-size: 1rem; /* Tamanho do subtítulo em telas menores */
  }
}