/* Footer.css */
.footer {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 0.9rem;
  padding: 1rem;
  width: 100%;
  transition: background-color 0.3s ease;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
}

.footer-content-wrapper {
  display: inline-flex; /* Habilita o Flexbox */
  justify-content: space-between; /* Distribui o espaço entre os elementos */
  align-items: center; /* Alinha os itens verticalmente ao centro */
  width: 100%; /* Garante que o contêiner ocupe toda a largura */
}

.footer a:hover {
  color: #D90000;
}

.footer:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.footer-card {
  padding: 0.5rem;
  width: 100%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer img {
  height: 2rem;
  transition: transform 0.3s ease;
}

.footer a {
  color: #D3D3D3;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  position: relative;
  transition: color 0.4s ease;
}

.footer span {
  margin: 0 5px;
  font-size: 4rem;
  color: #ffffff;
}

.footer-card i {
  font-size: 2.5rem; /* Ajuste o valor conforme necessário */
}

/* Adicionar Flexbox para título e ícones */
.footer-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-card .title {
  margin-bottom: 1rem; /* Espaçamento entre título e ícones */
  font-size: 1.2rem;
  font-weight: 600;
}

.footer-card .icons {
  display: flex;
  justify-content: center;
  gap: 1rem; /* Espaçamento entre os ícones */
}

.footer-card .icons i {
  font-size: 2.5rem; /* Ajuste o tamanho dos ícones */
}

/* Estilos para a nova seção footer-nav */
.footer-nav {
  padding: 2rem 6rem;
}

.footer-nav ul {
  list-style: none; /* Remove os marcadores de lista */
  padding: 0;
  margin: 2;
}

.footer-nav li {
  display: block; /* Garante que os itens da lista sejam exibidos como blocos */
  margin-bottom: 10px; /* Adiciona um espaço entre os links */
}

.footer-nav a {
  text-decoration: none; /* Remove o sublinhado padrão dos links */
  color: #ffffff; /* Define a cor do texto dos links */
}

.footer-nav a:hover {
  text-decoration: underline; /* Adiciona um sublinhado ao passar o mouse */
}

/* Responsividade */
@media (max-width: 768px) {
  .footer {
    padding: 1.5rem 1rem;
    font-size: 0.8rem;
  }

  .footer img {
    height: 40px;
  }

  .footer a {
    font-size: 0.9rem;
  }

  .footer span {
    font-size: 2rem;
  }

  .footer-card i {
    font-size: 2rem;
  }

  .footer-nav ul {
    flex-direction: column;
    gap: 1rem;
    display: block;
    unicode-bidi: isolate;
  }

  .footer-content {
    flex-direction: column;
    gap: 2rem;
  }
}

@media (max-width: 480px) {
  .footer {
    font-size: 0.75rem;
  }

  .footer span {
    font-size: 18px;
  }

  .footer-card i {
    font-size: 1.8rem;
  }

  .footer-card {
    padding: 1rem;
  }

  .footer-nav ul {
    flex-direction: column;
    gap: 0.5rem;
  }
}
