/* Footer.css */
.footer {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 0.9rem;
  padding: 2rem 2rem;
  width: 100%;
  transition: background-color 0.3s ease;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
}

.footer a:hover {
  color: #D90000;
}

.footer:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.footer-card {
  padding: 2rem 2rem;
  width: 100%;
  border-radius: 8px;
}

.footer-card:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: #D90000;
}

.footer img {
  height: 50px;
  transition: transform 0.3s ease;
}

.footer a {
  color: #D3D3D3;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  position: relative;
  transition: color 0.4s ease;
}

.footer span {
  margin: 0 5px;
  font-size: 24px; /* Ajuste o tamanho dos ícones */
  color: #ffffff; /* Ajuste a cor dos ícones */
}

/* Responsividade */
@media (max-width: 768px) {
  .footer {
    padding: 2rem; /* Reduz o preenchimento */
    font-size: 0.8rem; /* Reduz o tamanho da fonte */
  }

  .footer img {
    height: 40px; /* Reduz a altura da imagem */
  }

  .footer a {
    font-size: 0.9rem; /* Reduz o tamanho da fonte dos links */
  }
}

