.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .content {
    flex: 1;
    padding: 2rem;
  }
  
  .footer {
    text-align: center;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo preto com transparência */
    color: #D3D3D3;
    font-size: 0.9rem;
    padding: 1rem 2rem;
    box-shadow: 0 4px 6px rgba(241, 6, 6, 0.1);
    position: sticky; /* Fixa o navbar no topo ao rolar a página */
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease; /* Transição suave para mudanças de cor */
  }
  .footer a:hover {
    color: #D90000;
  }
  .footer:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Fundo mais opaco ao passar o mouse */
  }
  .footer img {
    height: 50px;
    transition: transform 0.3s ease;
  }
  .footer a {
    color: #D3D3D3;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    position: relative;
    transition: color 0.4s ease;
  }