/* Estilos Gerais da Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo preto com transparência */
  color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: sticky; /* Fixa o navbar no topo ao rolar a página */
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s ease; /* Transição suave para mudanças de cor */
}

.navbar:hover {
  background-color: rgba(0, 0, 0, 0.8); /* Fundo mais opaco ao passar o mouse */
}

.navbar-logo img {
  max-width: 150px;
}

/* Links da Navbar */
.navbar-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin: 0 1rem;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #ff0000; /* Azul ao passar o mouse */
}

/* Botão "Hambúrguer" */
.hamburger {
  display: none; /* Esconde o botão em telas maiores */
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Menu Responsivo */
.menu {
  display: flex;
  align-items: left;
}

.menu.open {
  display: flex;
  align-items: left;
}

@media (max-width: 768px) {
  /* Esconde os links em telas menores */
  .navbar-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Fundo preto mais opaco */
    padding: 1rem 0;
    box-shadow: 0 4px 6px rgba(253, 0, 0, 0.1);
  }

  /* Exibe os links quando o menu está aberto */
  .menu.open .navbar-links {
    display: flex;
    align-items: left;
  }

  /* Exibe o botão "Hambúrguer" em telas menores */
  .hamburger {
    display: flex;
    justify-content: flex-end;
  }

  .navbar-links li {
    margin: 0.5rem 1;
    text-align: left;
  }

  .navbar-links a {
    font-size: 1.2rem;
  }
}