/* Estilos Gerais da Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo preto com transparência */
  color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed; /* Fixa o elemento na tela */
  width: 100%; /* Garante que ocupe toda a largura */
  top: 0;
  left: 0; /* Alinha o elemento à esquerda */
  z-index: 1000;
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Transição suave para mudanças de cor */
}

.navbar:hover {
  background-color: rgba(0, 0, 0, 0.8); /* Fundo mais opaco ao passar o mouse */
}

.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.9); /* Fundo mais opaco ao rolar */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.navbar-logo img {
  width: 7rem; /* Largura do logo */
  height: auto; /* Mantém a proporção */
  display: block; /* Remove espaço extra abaixo do SVG */
  margin: 0 auto; /* Centraliza horizontalmente */
  transition: transform 0.3s ease; /* Adiciona uma transição suave */
}

.navbar-logo img:hover {
  transform: scale(1.1); /* Aumenta o tamanho no hover */
}

/* Links da Navbar */
.navbar-links {
  display: flex;
  list-style: none;
  margin: 10;
  padding: 10;
}

.navbar-links li {
  margin: 0 1rem;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #ff0000; /* Azul ao passar o mouse */
}

/* Botão "Hambúrguer" */
.hamburger {
  display: none; /* Esconde o botão em telas maiores */
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Menu Responsivo */
.menu {
  display: flex;
  align-items: left;
}

.menu.open {
  display: flex;
  align-items: left;
}

@media (max-width: 768px) {
  /* Esconde os links em telas menores */
  .navbar-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Fundo preto mais opaco */
    padding: 1rem 0;
    box-shadow: 0 4px 6px rgba(253, 0, 0, 0.1);
  }

  /* Exibe os links quando o menu está aberto */
  .menu.open .navbar-links {
    display: flex;
    align-items: left;
  }

  /* Exibe o botão "Hambúrguer" em telas menores */
  .hamburger {
    display: flex;
    justify-content: flex-end;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
  }

  .navbar-links li {
    margin: 0.5rem 1;
    text-align: left;
  }

  .navbar-links a {
    font-size: 1.2rem;
  }

  .navbar-links:hover {
    font-size: 1.2rem;
  }

  .navbar-logo {
    width: 6rem; /* Reduz o tamanho em telas menores */
    position: center;
    height: auto; /* Mantém a proporção */
    display: block; /* Remove espaço extra abaixo do SVG */
    margin: 0 auto; /* Centraliza horizontalmente */
    transition: transform 0.3s ease; /* Adiciona uma transição suave */
  }
}