/* Sobre.css */

.container-black {
  max-width: 1500px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #353535;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.sobre-section h2, .sobre-section h1 {
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 1rem;
}

.sobre-section p,
.sobre-paragraph {
  font-size: 1.1rem;
  color: #ffffff;
  line-height: 1.6;
}

.nossa-historia .sobre-paragraph {
  font-size: 1.5rem; /* aproximadamente 24px */
  font-weight: 400;
  margin-bottom: 1rem;
  color: #f1f1f1; /* tom claro para fundo escuro */
}

/* ===== Carrossel da Equipe ===== */
.team-image-container {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.team-caption {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #ffffff;
  text-align: center;
}

.team-image {
  width: 15rem;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.6s ease;
}

.team-image:hover {
  transform: scale(1.03);
}

.slick-slider {
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.slick-dots li button:before {
  font-size: 12px;
  color: #c50404;
}

.slick-dots li.slick-active button:before {
  color: #fff;
}

.slick-prev,
.slick-next {
  z-index: 10;
  color: #fff;
  background: transparent;
  border-radius: 50%;
  padding: 0.3rem 0.5rem;
  transition: background-color 0.3s ease;
}

.slick-prev:hover,
.slick-next:hover {
  background-color: #e23838;
  border-radius: 50%;
}

/* Depoimentos */
.highlight-card {
  background-color: #424242;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
  margin-bottom: 1rem;
}

.review-date {
  font-size: 0.9rem;
  color: #ddd;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: block;
}

.stars {
  color: #e23838;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.star {
  margin-right: 0.1rem;
}

.section-list {
  padding-left: 1.4rem;
  margin-top: 0.5rem;
  color: #eee;
}

.highlight-item h3 {
  color: #fff;
  margin-bottom: 0.8rem;
}

.highlight-item p {
  margin-bottom: 1rem;
}

/* Grid */
.highlights-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
  gap: 1.8rem;
}

/* Ajustes gerais */
.page-black {
  background-color: #000000;
  min-height: 100vh;
  padding-top: 5rem;
  padding-bottom: 3rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

