  .linkedin-button {
  display: inline-flex;
  align-items: center;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #0077B5; /* cor padrão do LinkedIn */
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.linkedin-button:hover {
  background-color: #005582;
}
