/* src/App.css */

/* Estilos para o corpo */
body {
  background: url('./assets/images/banner.jpg') center center repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: rgba(190, 181, 181, 9);
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.88);
  z-index: -1;
}

/* Estilos para o cabeçalho */
.header {
  position: relative;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url('./assets/images/header.jpg') center/cover no-repeat;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.9);
  background-color: rgb(46, 47, 49);
  color: rgba(0, 0, 0, 1.9);
  opacity: 0.5
  z-index 1000;

}

.header h1 {
  font-size: 2.5rem;
  color: #f50203;
}

.header p {
  font-size: 1.2rem;
  color: #fff;
  z-index: 1000;
}

/* Estilos para o html e body */
html,
body {
  height: 100%;
  margin: 0;
}

/* Estilos para o root */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Garante que ocupe toda a altura da tela */
}

/* Estilos para o main */
main {
  flex: 1; /* Faz o conteúdo crescer e empurrar o footer para o final */
}
