/* ======================== */
/* Reset e Fontes Globais   */
/* ======================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

html {
  scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --vermelho-principal: #c50404;
  --cinza-claro: #D3D3D3;
  --cinza-escuro: #2e2f31;
  --branco: #ffffff;
  --cinza-medio: #353535;
  --tamanho-titulo: 2rem;
  --tamanho-paragrafo: 1rem;
}

/* ===================== */
/* Tipografia e Elementos Globais */
/* ===================== */
body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: var(--cinza-escuro);
}

h1, h2, h3, h4, h5, h6 {
  border-bottom: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:focus {
  text-decoration: none;
}

li {
  text-align: left;
  list-style-position: inside;
}

/* ================= */
/* Layout Container */
/* ================= */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

/* ================= */
/* Botões Globais    */
/* ================= */
.button {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  color: var(--branco);
  background-color: var(--vermelho-principal);
  border: none;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
  background-color: rgba(54, 24, 24, 0.5);
  transform: scale(1.05);
}

/* ================= */
/* Responsividade    */
/* ================= */
@media (max-width: 768px) {
  :root {
    --tamanho-titulo: 1.8rem;
    --tamanho-paragrafo: 0.9rem;
  }

  .container {
    padding: 1rem;
  }
}

@media (max-width: 480px) {
  :root {
    --tamanho-titulo: 1.5rem;
    --tamanho-paragrafo: 0.8rem;
  }
}